* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -140px;
}

#hero-img {
    width: 100%;
    height: 100%;
}

#hero-box, #hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-msg h4 {
    color: white;
}

#hero-msg h1 {
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 200px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    min-height: auto;
}

.button-box {
    text-align: center;
}


body {
    background-color: #fbfbfc;
    /*font-family: Raleway, Arial, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 250px auto;
    background-color: rgba(27, 28, 27, 0.7);
    /*margin: 0 auto;*/
    width: 100%;
}

header a img {
    max-width: 250px;
    min-height: 110px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-self: center;
}

nav a:hover {
    background-color: #5cc8c0;
    color: rgba(11, 39, 65, 0.94);
}

nav a {
    color: #5cc8c0;
    text-decoration: none;
    padding: 10px;
}

/*=================================================================*/

.container-service001 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.checklist-service01{
    grid-column : 1/2;
    grid-row: 1/3;
}

.checklist-service02{
    grid-column : 2/3;
    grid-row: 1/2;
}

.checklist-service03{
    grid-column : 2/3;
    grid-row: 2/3;
}

h2 {
    color: crimson;
    text-align: center;
}


.checklist-service01 {
    width: 100%;
}

.service {
    margin-bottom: 20px;
}

.n-service {
    margin-bottom: 7px;
    color: #51cbd7;
}

.number {
    display: inline-block;
    background-image: linear-gradient(to top, #498686 0%, #3176b9 100%);
    line-height: 30px;
    text-align: center;
    /*border-radius: 50%;*/
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
}

.checklist-service02 .image001 {
    width: 700px;

}

.checklist-service03 .image002 {
    width: 700px;

}


/*=================================================================*/
footer {
    background-color: #4a4d4c;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: rgb(251, 251, 252);
    text-decoration: none;
}

footer a:hover {
    /*color: #d31919;*/
    background-color: rgba(233, 234, 229, 0.94);
    color: rgba(114, 40, 188, 0.94);
}

footer p a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
    color: rgb(251, 251, 252);
}
.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}
.social-media-icon:hover {
    background: #fff;
    color: #764ba2;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}



@media screen and (max-width: 800px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }

    nav, footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    .container-service img {
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-service {
        width: 80%;
    }

    .service {
        margin-bottom: 15px;
    }


    .footer {
        justify-content: center;
    }

    .social-media {
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {

    header a img {
        max-width: 100px;
        min-height: 40px;
    }

    footer {
        background-color: #4a4d4c;
        padding: 25px 50px;
        margin-top: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer a {
        color: rgb(251, 251, 252);
        text-decoration: none;
    }

    footer a:hover {
        /*color: #d31919;*/
        background-color: rgba(233, 234, 229, 0.94);
        color: rgba(114, 40, 188, 0.94);
    }

    footer p a:hover {
        text-decoration: underline;
    }

    footer p {
        font-size: 1.2em;
        color: rgb(251, 251, 252);
    }


    .social-media {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    .social-media-icon {
        display: inline-block;
        margin-left: 20px;
        width: 60px;
        height: 60px;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;
        color: #fff;
    }

    .social-media-icon i {
        font-size: 30px;
        line-height: 60px;
    }

    .social-media-icon:hover {
        background: #fff;
        color: #764ba2;
    }
}

