* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero-msg {
    width: 800px;
    margin: 0 auto;
}

#hero-msg h1 {
    color: #c70909;
    padding: 50px;
    text-align: center;
}

.button-box {
    text-align: center;
}

body {
    background-color: #fbfbfc;
    /*font-family: Raleway, Arial, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 250px auto;
    background-color: rgba(27, 28, 27, 0.7);
    /*margin: 0 auto;*/
    width: 100%;
}

header a img {
    max-width: 250px;
    min-height: 110px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-self: center;
}

nav a:hover {
    background-color: #5cc8c0;
    color: rgba(11, 39, 65, 0.94);
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
/**=================================================================*!*/
/**=================================================================*!*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #051628;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/**=================================================================*!*/
/**=================================================================*!*/
footer {
    background-color: #4a4d4c;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: rgb(251, 251, 252);
    text-decoration: none;
}

footer a:hover {
    /*color: #d31919;*/
    background-color: rgba(233, 234, 229, 0.94);
    color: rgba(114, 40, 188, 0.94);
}

footer p a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
    color: rgb(251, 251, 252);
}
.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}
.social-media-icon:hover {
    background: #fff;
    color: #764ba2;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}


/*@media screen and (max-width: 800px) {*/
/*    #hero, .home-grid {*/
/*        display: block;*/
/*        height: auto;*/
/*    }*/

/*    nav, footer {*/
/*        flex-direction: column;*/
/*    }*/

/*    nav a {*/
/*        display: block;*/
/*        padding: 15px;*/
/*    }*/

/*    #hero {*/
/*        margin-top: 0;*/
/*    }*/

/*    #hero-msg {*/
/*        margin-top: 0;*/
/*    }*/

/*    #hero-msg h4 {*/
/*        display: none;*/
/*    }*/



/*    .container-service img {*/
/*        width: 80%;*/
/*        margin-bottom: 40px;*/
/*    }*/

/*    .checklist-service {*/
/*        width: 80%;*/
/*    }*/

/*    .service {*/
/*        margin-bottom: 15px;*/
/*    }*/


/*    .footer {*/
/*        justify-content: center;*/
/*    }*/

/*    .social-media {*/
/*        width: 80%;*/
/*        justify-content: space-evenly;*/
/*    }*/

/*    .social-media-icon {*/
/*        margin-left: 0;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 500px) {*/

/*    header a img {*/
/*        max-width: 100px;*/
/*        min-height: 40px;*/
/*    }*/

/*    footer {*/
/*        background-color: #4a4d4c;*/
/*        padding: 25px 50px;*/
/*        margin-top: 200px;*/
/*        display: flex;*/
/*        justify-content: space-around;*/
/*        align-items: center;*/
/*    }*/

/*    footer a {*/
/*        color: rgb(251, 251, 252);*/
/*        text-decoration: none;*/
/*    }*/

/*    footer a:hover {*/
/*        !*color: #d31919;*!*/
/*        background-color: rgba(233, 234, 229, 0.94);*/
/*        color: rgba(114, 40, 188, 0.94);*/
/*    }*/

/*    footer p a:hover {*/
/*        text-decoration: underline;*/
/*    }*/

/*    footer p {*/
/*        font-size: 1.2em;*/
/*        color: rgb(251, 251, 252);*/
/*    }*/


/*    .social-media {*/
/*        width: 50%;*/
/*        display: flex;*/
/*        justify-content: flex-end;*/
/*    }*/

/*    .social-media-icon {*/
/*        display: inline-block;*/
/*        margin-left: 20px;*/
/*        width: 60px;*/
/*        height: 60px;*/
/*        border: 1px solid #fff;*/
/*        border-radius: 50%;*/
/*        text-align: center;*/
/*        color: #fff;*/
/*    }*/

/*    .social-media-icon i {*/
/*        font-size: 30px;*/
/*        line-height: 60px;*/
/*    }*/

/*    .social-media-icon:hover {*/
/*        background: #fff;*/
/*        color: #764ba2;*/
/*    }*/
/*}*/
